nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid #e50914;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
}

.back-button {
  margin-bottom: 20px;
  display: inline-block;
  color: #e50914;
  text-decoration: none;
  border: 1px solid #e50914;
  padding: 5px 10px;
  border-radius: 5px;
}

.movie-section {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.poster {
  width: 250px;
  height: auto;
}

.details {
  flex: 1;
}

.details h2 {
  margin-top: 0;
}

.technical {
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 20px;
}


footer {
  position: absolute;
}