body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141415;
  padding: 20px 80px;
  border: 1px solid #141414;
}

header h1 {
  color: #e50914;
}

nav a {
  margin-left: 50px;
  color: #ccc;
  text-decoration: none;
}

nav a.active {
  color: #fff;
  border-bottom: 2px solid #e50914;
}

/* main {
  padding: 80px;
} */

h1 {
  margin-top: 80px;
  margin-bottom: 15px;
  border-left: 3px solid white;
  margin-left: 40px;
  padding: 8px;
}


#logo {
  width: 220px;
}

.bannerfilme {
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

h2 {
  font-size: 20px
}

.date {
  font-size: 14px;
  color: #777;
  margin: 5px 0 12px 0;
}

.rate {
  font-size: 12px;
  color: #979797;
  margin: 0px 0 10px 0;
}

.movie-table {
  width: 100%;
  border-spacing: 30px;
}

.movie-table td {
  background-color: #141415;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-table td:hover {
  transform: scale(1.1);
  background-color: #141415;
}

.movie-table img {
  width: 200px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.movie-table h3 {
  margin: 10px 0 0 0;
  font-size: 16px;
}

button {
  display: block;
  width: 100%;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.watch,
button.saiba-mais {
  background-color: #C5020D;
  padding: 10px;
  color: white;
}

button.saiba-mais {
  margin-top: 10px;
  border: 1px solid #272727;
  background-color: transparent;
}

button.trailer {
  margin-top: 10px;
  padding: 10px;
  background-color: #181818;
  color: #ccc;
}

span {
  color: yellow;
}

footer {
  text-align: center;
  padding: 15px 0;
  width: 100%;
  background-color: #141415;
  color: #777;
  font-size: 14px;
}